*{
	margin:0;
	padding:0;
	font-family: Georgia;
	text-shadow: 1px 1px 1px #808080;
	color:white;
}

header{
	position: fixed;
	width: 1800px;
	background-color:#1C1C1C;
	padding: 20px;
}

#menu a{
	font-size: 20px;
	padding:10px;
	margin: 10px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #808080;
}
#menu a:hover{
	background-color: #808080;
	border-radius: 150px;
	color: #1C1C1C;
	padding:10px;
}
.banner{
	text-align: center;
}
.banner img{
	margin-top: 80px;
	border-radius: 40px;
	margin-bottom: 20px;
}
body{
	background-image: url('city.jpg');
	background-size: 120%;
	background-position: fixed;
}
.efeito div{
	border-radius: 40px;
	background-color:rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px #808080;
	text-align: center;
	width: 700px;
	margin: auto;
	padding:10px;
	margin-bottom: 30px;
}
#sobre{
	height: 180px;
}

#interesses{
	min-height: 200px;
}
#interesses img{
	border-radius: 150px;
	width: 80px;
	height: 80px;
	padding: 5px;
	margin: 5px;
}
#interesses img:hover{
	background-color: #808080;
	border-radius: 150px;
	padding: 5px;
}
#contato{
	height: 130px;
}
#contato a{
	text-decoration: none;
}
#contato img{
	border-radius: 150px;
	width: 70px;
	height: 70px;
	padding:5px;
	margin: 5px;
}
#contato img:hover{
	background-color: #808080;
	border-radius: 150px;
	padding: 5px;
}
footer{
	background-color:#1C1C1C;
	height: 50px;
	text-align: center;
	padding-top: 25px;
}
